<div id="footer">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>bio</h2>
                <p>
                    I am an artist and technologist with over a decade of experience in both commercial digital products and conceptual art. 
                </p>
                <p>
                    I am from Baltimore, Maryland but currently split time between Mexico City and New York City.
                </p>
                <p>
                    I like endurance sports and fashion but don't want to talk about either with anyone from the internet. You can learn more about me and my other interests on <a href="https://marthahipley.com/" target="_blank">my homepage</a>.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>artist statement</h2>
                <p>
                    A lot of artists say they can't imagine themselves doing anything but making art. I think this is kind of bullshit. I've had office jobs for most of my adult life and have spent the better part of a decade working in both large corporations and small startups in the technology sector.
                </p>
                <p>
                    I am the person at the art party who has a lot of opinions about "apps" and actually understands how they work. I make work about my preoccupations with technology and the people who make it, about the extended adolescence of a life forever-online, about feeling stuck between a corporate world I loathe and an art world that I also don't really vibe with.
                </p>
                <p>
                    I like paintings and video games and want to make more of both.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>contact</h2>
                <ul id="footer-list">

                    <li>
                        <a href="mailto:studio@everyoneisugly.com">studio@everyoneisugly.com</a>
                    </li>
                    
                    <li>{%- include social.html -%}</li>

                    <li>{%- include newsletter.html -%}</li>
            
                        
                        

                </ul>     
            </div>                        
        </div>
        <div class="row xs-bottom end-xs">
            
                <div class="col-xs-12">
                    <ul id="bottom-info">
                        {%- if site.posts.size > 0 -%}
                        <li>
                        last updated {{ site.posts.first.date | date: "%Y-%m-%d"}}
                        </li>
                
                        {%- endif -%}
                        
                        <li>© {{ "now" | date: "%Y"}} Martha Hipley LLC</li>
                
                        <li>open source typefaces by <a href="http://collletttivo.it/" target="_blank">Collletttivo</a>
                        </li>
                    </ul>

            </div>
        </div>
        

    </div>

</div>