<div id="footer">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>bio</h2>
                <p>
                    I am an artist and technologist with over a decade of experience in both commercial digital products and conceptual art. 
                </p>
                <p>
                    I am from Baltimore, Maryland but currently split time between Mexico City and New York City.
                </p>
                <p>
                    I like endurance sports and fashion but don't want to talk about either with anyone from the internet. You can learn more about me and my other interests on <a href="https://marthahipley.com/" target="_blank">my homepage</a>.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>artist statement</h2>
                <p>
                    I have a lot of loud and malleable opinions about technology, politics, and economics. I have mostly admiration for the arts (not including the art market or academia!) and don't really waste talking about art I don't enjoy. I tend to make art that is in homage to the creative works I love and a challenge to the things out in the real world I find frustrating. I'm particularly interested in exploring ideas about identity and sexuality in relationship to the rapidly moving target of digital life.
                </p>

                <p>
                    I like paintings and video games and want to make more of both.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>contact</h2>
                <ul id="footer-list">

                    <li>
                        <a href="mailto:studio@everyoneisugly.com">studio@everyoneisugly.com</a>
                    </li>
                    
                    <li>{%- include social.html -%}</li>

                    <li>{%- include newsletter.html -%}</li>
            
                        
                        

                </ul>     
            </div>                        
        </div>
        <div class="row xs-bottom end-xs">
            
                <div class="col-xs-12">
                    <ul id="bottom-info">
                        {%- if site.posts.size > 0 -%}
                        <li>
                        last updated {{ site.posts.first.date | date: "%Y-%m-%d"}}
                        </li>
                
                        {%- endif -%}
                        
                        <li>© {{ "now" | date: "%Y"}} Martha Hipley LLC</li>
                
                        <li>open source typefaces by <a href="http://collletttivo.it/" target="_blank">Collletttivo</a>
                        </li>
                    </ul>

            </div>
        </div>
        

    </div>

</div>