<div id="header">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <a href="{{site.url}}">everyoneisugly</a>
                </h1>
                <h6>art & interactions with technology by <a href="https://marthahipley.com/" target="_blank">martha hipley</a></h6>
            </div>
            {%- if page.name != "index.markdown" -%}
            <div class="col-xs-12">
                <div class="action"><a href="{{site.url}}"><span class="icon icon-back"></span>back</a></div>
            </div>
            {%- endif -%}
        </div>
        {%- if page.name != "timeline.markdown" -%}
        <div class="row end-xs">
            <div class="col-xs-12">
               <a href="{{site.url}}/timeline/" class="list-link"><span class="icon icon-menu"></span></a>
            </div>
        </div>
        {%- endif -%}
    </div>
</div>